@import './cssTransition.scss';

// fade
@include enter(fade);
@include active(fade);
@include exit(fade);

// slideUp
@include enter(slideUp){
  transform: translateY(100%);
};
@include active(slideUp){
  transform: translateY(0);
};
@include exit(slideUp){
  transform: translateY(100%);
};

// slideDown
@include enter(slideDown) {
  transform: translateY(-100%)
};
@include active(slideDown) {
  transform: translateY(0);
};
@include exit(slideDown) {
  transform: translateY(-100%);
};

// scaleUp
@include enter(scaleUp) {
  transform: scale(1.2)
};
@include active(scaleUp) {
  transform: scale(1);
};
@include exit(scaleUp) {
  transform: scale(1.2)
};

// scaleDown
@include enter(scaleDown) {
  transform: scale(0)
};
@include active(scaleDown) {
  transform: scale(1);
};
@include exit(scaleDown) {
  transform: scale(0)
};

// scaleDownHalf
@include enter(scaleDownHalf) {
  transform: scale(0.8)
};
@include active(scaleDownHalf) {
  transform: scale(1);
};
@include exit(scaleDownHalf) {
  transform: scale(0.8)
};