.transtion(@time:500ms) {
  transition: all @time;
}
// 透明度渐变过渡 transition
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  .transtion
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  .transtion
}